body {
  overflow: hidden;
}

#editor {
  position: absolute;
  left: 0;
  right: 50%;
  top: 64px;
  bottom: 0;
  z-index: 1;

  @media (max-width: 991px) {
    transform: translateX(-100%);
    transition: transform 0.25s ease-out;
    right: 0;

    &.show {
      transform: translateX(0);
    }
  }
}

#collector {
  position: absolute;
  left: 0;
  top: 64px;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;

  @media (min-width: 992px) {
    left: 50%;
  }
}
